# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies and Build Outputs
node_modules
dist
dist-ssr
*.local
/dist-sw/              # PWA Service Worker build output
/functions/node_modules/ # ⬅️ Netlify Functions의 로컬 설치 모듈 제외 (필수)

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.production

# Local Netlify folder
.netlify

# Vite cache
.vite/